body { 
  margin: 0;
  font-family: SuisseIntl, roboto, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  
}

.header {
  position:fixed;
  width:100%;
  overflow: hidden;
  padding: 20px 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #001f9a;
  opacity: 60%;
  transform: translateZ(0);
  border-bottom: 4px dotted white;
}


.header a {
  position: relative;
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  color: white;

}

.header a:hover {
  color: orange;
  
}

.header a.logo {
  font-size: 18px;
  font-weight: normal;
  color: white;
}



.header-right {
  float: right;
}



@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.footer {
  overflow: hidden;
  width: 100%;
  padding: 20px 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  opacity: 100;
  transform: translateZ(0);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom:50px;
}

.footer a {
  float: center;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  color: white;
}

.footer a:hover {
  color: orange;
}

h1 {
  font-family: SuisseIntl, roboto, sans-serif;
    text-align: center;
    width: 100%;
    z-index: 1000;
    color: white;
    opacity: 100;
    transform: translateZ(0);  
    /*text-transform: uppercase;*/
    white-space: pre-wrap;
    /*background: pink;*/
    font-size: 10vw;
    margin-top: 80px; 
  margin-bottom: 0px; 
  
}

h1b {
  margin-top: 100px;  
  font-family: Lato, sans-serif;
  text-align: right;
  width: 100%;
  color: #001f9a;
  opacity: 100;
  transform: translateZ(0);
  transition: opacity 1.6s cubic-bezier(.165,.84,.44,1);
  white-space: pre-wrap;
  /*background: pink;*/
  /*font-size: 3vw;*/
  line-height: 150%;
  /*font-weight: bold;*/
  font-size:calc(12px + 2vw);
}

@media screen and (max-width: 1600px) {
  h1b {
margin-top: 100px;  

font-family: Lato, sans-serif;
text-align: center;
width: 100%;
color: #001f9a;
opacity: 100;
transform: translateZ(0);
white-space: pre-wrap;
line-height: 150%;
font-size:calc(12px + 2vw);
  }
}

h1c {
  margin-top: 100px;  
  border: 20px;
  font-family: Lato, sans-serif;
  text-align: right;
  width: 100%;
  opacity: 100;

  transition: opacity 1.6s cubic-bezier(.165,.84,.44,1);
  white-space: pre-wrap;
  
  /*font-size: 3vw;*/
 font-size:20px ;
 line-height: 150%;
}


@media screen and (max-width: 1600px) {
  h1c {
margin-top: 100px;  

font-family: Lato, sans-serif;
text-align: center;
width: 100%;
color: #001f9a;
opacity: 100;
transform: translateZ(0);
white-space: pre-wrap;
line-height: 150%;
font-size:20px ;
  }
}

h2{
  font-family: SuisseIntl, roboto, sans-serif;
  font-size: 50px;
  color: #001f9a;
  line-height: 200%;
}

.container0 {
width: max-width;
}


.title {
border: 20px double transparent;
padding:10px;
width: max-width;
}

.intro-container {
border: 20px double transparent;
border-left: 50vw double transparent;
border-right: 15vw double transparent;
padding:10px;
width: max-width;
}

@media screen and (max-width: 1600px) {
  .intro-container {
    border: 20px double transparent;
    border-left: 0vw double transparent;
    border-right: 0vw double transparent;
    float: center;
    padding:20px;
    width:max-width;
    overflow: auto;

  }}


.title-section{
    margin: 30px;
}

/* Simple Grid PROJECT CONTAINER*/

h2 {
  font-family: SuisseIntl, roboto, sans-serif;
    text-align: center;
    width: 100%;
    z-index: 1000;
    color: #001f9a;
    opacity: 100;
    transform: translateZ(0);  
    /*text-transform: uppercase;*/
    white-space: pre-wrap;
    font-size: calc(12px + 2vw);
    margin-top: 50px; 
    margin-bottom: 50px; 
  
}

h3-caps {
  font-family: SuisseIntl, roboto, sans-serif;
  text-align: center;
  width: 100%;
  z-index: 1000;
  color: #001f9a;
  opacity: 100;
  transform: translateZ(0);  
  text-transform: uppercase;
  white-space: pre-wrap;
  font-size: calc(12px + 0.8vw);
  margin-top: 50px; 
  margin-bottom: 50px; 
  
}

project-container{
  width: max-width;
  height: 500px;
  border-bottom: 4px dotted #095484; 
  border-top: 4px dotted #095484; 
  
}

project-text {
  font-family: SuisseIntl, roboto, sans-serif;
    text-align: center;
    width: 100%;
    z-index: 1000;
    color: black;
    opacity: 100;
    transform: translateZ(0);  
    /*text-transform: uppercase;*/
    white-space: pre-wrap;
    /*background: pink;*/
    font-size: calc(12px + 0.7vw);
    margin-top: 50px; 
  margin-bottom: 0px;  
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
  opacity: 1;
  transition: 200ms;
}


/*Moving Circle
i{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: move 10s forwards infinite;
  background: linear-gradient(127deg, yellow 0%, orange 20%, red);
  opacity: 30%;
}

i:nth-child(2) {
  animation-delay: -2s;
  background: rgba(255,255,255,.3);
  box-shadow: 0 0 1rem rgba(255,255,255,.7),
              0 0 0 1px rgba(255,255,255,.1);
  backdrop-filter: blur(30px);
}

@keyframes move {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(0) translateY(-30%);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-90deg) translateY(-30%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-30%);
  }
}
*/

/*static circle*/
.circle1 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(to right, #001f9a, rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  position: absolute;
  opacity: 0.5;
  left:5%;
}
.circle2 {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: linear-gradient(to right, #001f9a, rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  position: absolute;
  top:30%;
  left:50%;
  margin-top:-60px;
  margin-left:-50px;
  opacity: 0.5;
}
.circle3 {
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  background: linear-gradient(to right, #001f9a, rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-60px;
  margin-left:-50px;
  opacity: 0.3;
}
.circle4 {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background: linear-gradient(to right, #001f9a, rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  position: absolute;
  top:50%;
  left:10%;
  margin-top:-60px;
  margin-left:-10px;
  opacity: 0.3;
}
.circle5 {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: linear-gradient(to right,  rgba(0, 0, 0, 0),#001f9a), url(https://grainy-gradients.vercel.app/noise.svg);
  position: absolute;
  right:10%;
  opacity: 0.3;
}

/* ARTSY PROJECT CONTAINER */
project-container{
  width: 200px;
  height: 500px;
  border-bottom: 4px dotted #095484; 
  border-top: 4px dotted #095484; 
 /* background: pink; */
}

/* ARTSY PROJECT CONTAINER */
project-container{
  width: 200px;
  height: 500px;
  border-bottom: 4px dotted #095484; 
  border-top: 4px dotted #095484; 
 /* background: pink; */
}

.grid-container {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 50% 35% 15%;
  /*background-color: blue; */
  border-top: 4px dotted #095484;
  border-color: blue;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
  border-style: dotted;
}

project-title {
  font-family: SuisseIntl, roboto, sans-serif;
    text-align: left;
    width: 100%;
    z-index: 1000;
    color: #001f9a;
    opacity: 100;
    transform: translateZ(0);  
    /*text-transform: uppercase;*/
    white-space: pre-wrap;
    /*background: pink;*/
    font-size: calc(12px + 2vw);
    margin-top: 50px; 
  margin-bottom: 0px;  
}
project-text {
  font-family: SuisseIntl, roboto, sans-serif;
    text-align: left;
    width: 100%;
    z-index: 1000;
    color: black;
    opacity: 100;
    transform: translateZ(0);  
    /*text-transform: uppercase;*/
    white-space: pre-wrap;
    /*background: pink;*/
    font-size: 20px;
    margin-top: 50px; 
  margin-bottom: 0px;  
}

grid-img {
  width: 200px;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  padding: 15px;
}
.project-img {
  display: block;
  max-width: 100%;
}


/*Scrolling Images*/
ul.images {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;

}

ul.images li {
  flex: 0 0 auto;
  width: 700px;
  height: 450px;
  list-style-type: none;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}


/* Track */

ul.images::-webkit-scrollbar {
  width: 5px;
  
}

ul.images::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  background-color:aliceblue;
  fill-opacity: 50%;
}
 
/* Handle */
ul.images::-webkit-scrollbar-thumb {
  background-color: #001f9a;
  border-radius: 10px;
  
}

/* Handle on hover */
ul.images::-webkit-scrollbar-thumb:hover {
  background-color: orange;
}

/* Handle on hover */
ul.images::-webkit-scrollbar-thumb:active {
  background-color: orange;
}

/*Publications List*/

li {
  margin-top: 20px;
  margin-left: 20px;
  margin-right:20px;
  color: black;
  margin: 30px;
  /*font-style: oblique;*/
  font-size: 16px;
  list-style-type: circle;
}

/*
li:hover{
  color: orange;
}
*/

/*Projects container*/
.container-pro{
  max-width:1600px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
}

/*Accordion*/

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  color: #001f9a;
  opacity: 100%;
  transform: translateZ(0);
  border-top: 4px dotted #001f9a;
  /*cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;*/
  cursor: url(img/svg/plus.svg), auto;
}

.active, .accordion:hover {
  opacity: 50%;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/*Add +-symbol in accordion dropdown*/
.accordion:after {
  content: '\002B';
    color: #001f9a;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
 color: orange;
}

/*Accordion Title*/
.acc-title{
  font-family: SuisseIntl, roboto, sans-serif;
  text-align: left;
  width: 100%;
  z-index: 1000;
  color: #001f9a;
  opacity: 100;
  transform: translateZ(0);
  font-style: bold;
  white-space: pre-wrap;
  font-size: calc(16px + 1vw);
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-left: 15px;
}

.acc-year{
  font-family: SuisseIntl, roboto, sans-serif;
  text-align: left;
  width: 100%;
  z-index: 1000;
  color: black;
  opacity: 100;
  transform: translateZ(0);
  font-style: bold;
  white-space: pre-wrap;
  font-size: 16px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-left: 15px;
}
.acc-desc{
  font-family: SuisseIntl, roboto, sans-serif;
  text-align: left;
  width: 100%;
  z-index: 1000;
  color: black;
  opacity: 100;
  transform: translateZ(0);
  font-style: bold;
  white-space: pre-wrap;
  font-size: 14px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-left: 15px;
}

a.two{
  color: #001f9a;
  text-decoration-line: none;
  
}

a.two:hover{
  color: orange;
  text-decoration-line: underline;
}

a.three{
  color: black;
  font-size:16px ;
  text-align: center;
  text-decoration-line: none;

}

a.three:hover{
  color: orange;
}

a.five{
  color: grey;
  font-size:16px ;
  text-align: center;
  text-decoration-line: none;
  font-weight: 400;

}

a.five:hover{
  color: orange;
}

a.four{
  color: black;
  font-size:16px ;
  text-align: center;
  text-decoration-line: none;
  padding: 20px;
  font-size: 18px;
}

a.four:hover{
  color: orange;
}

p{
  color:#001f9a;
  font-size:16px ;
  text-align: left;
  text-decoration-line: none;
  padding: 20px;
  font-size: 16px;
  line-height: 150%;
  white-space: pre-wrap;
}


/*Gradients*/
#grad1 {
  height: 1700px;
  background-image:linear-gradient(0deg, rgb(0% 12.157% 60.392%) 0%, rgb(22.752% 32.143% 69.404%) 6.25%, rgb(41.382% 48.508% 76.783%) 12.5%, rgb(56.419% 61.717% 82.739%) 18.75%, rgb(68.359% 72.206% 87.468%) 25%, rgb(77.66% 80.375% 91.151%) 31.25%, rgb(84.741% 86.596% 93.956%) 37.5%, rgb(89.989% 91.206% 96.035%) 43.75%, rgb(93.75% 94.51% 97.525%) 50%, rgb(96.336% 96.782% 98.549%) 56.25%, rgb(98.022% 98.263% 99.217%) 62.5%, rgb(99.046% 99.162% 99.622%) 68.75%, rgb(99.609% 99.657% 99.845%) 75%, rgb(99.876% 99.891% 99.951%) 81.25%, rgb(99.976% 99.979% 99.99%) 87.5%, rgb(99.998% 99.999% 99.999%) 93.75%, rgb(100% 100% 100%) 100% )
}


#grad2 {
  height: 1500px;
  background-image: linear-gradient(0deg, rgb(100% 100% 100%) 0%, rgb(99.998% 99.999% 99.999%) 6.25%, rgb(99.976% 99.979% 99.99%) 12.5%, rgb(99.876% 99.891% 99.951%) 18.75%, rgb(99.609% 99.657% 99.845%) 25%, rgb(99.046% 99.162% 99.622%) 31.25%, rgb(98.022% 98.263% 99.217%) 37.5%, rgb(96.336% 96.782% 98.549%) 43.75%, rgb(93.75% 94.51% 97.525%) 50%, rgb(89.989% 91.206% 96.035%) 56.25%, rgb(84.741% 86.596% 93.956%) 62.5%, rgb(77.66% 80.375% 91.151%) 68.75%, rgb(68.359% 72.206% 87.468%) 75%, rgb(56.419% 61.717% 82.739%) 81.25%, rgb(41.382% 48.508% 76.783%) 87.5%, rgb(22.752% 32.143% 69.404%) 93.75%, rgb(0% 12.157% 60.392%) 100% )
}